#jumbotron {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    margin: 80px 0;
}
#jumbotron-wrapper {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#jumbotron-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
#jumbotron-desc h1 {
    font-size: 2rem;
    color: var(--text-color);
    margin: 5px 0;
}
#jumbotron-desc h3 {
    margin: 5px 0;
}
#jumbotron-desc p {
    color: var(--text-color);
    line-height: 27px;
    margin: 15px 0;
}
#jumbotron-desc h3 {
    font-size: 1.2rem;
    color: var(--gray-color);
}
#jumbotron-desc a {
    color: var(--light-color);
    background-color: var(--primary-color);
    font-weight: bold;
    padding: 15px 20px;
    margin: 20px 0;
    border-radius: 12px;
}
#jumbotron-desc a:hover {
    background-color: #5140b6;
}
#jumbotron-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
}
#jumbotron-image img {
    width: 400px;
}
#jumbotron-social-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#jumbotron-social-media > * {
    height: 25px;
    width: 25px;
}
@media (max-width: 768px) {
    #jumbotron-wrapper {
        width: 90%;
    }

    #jumbotron-image img {
        width: 300px;
    }
}
@media (max-width: 1526px) {
    #jumbotron-wrapper {
        flex-direction: column;
    }

    #jumbotron-desc {
        order: 2;
    }

    #jumbotron-social-media {
        order: 3;
        flex-direction: row;
    }
}